includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	# Level 9 is the highest level
	level: max

	paths:
		- blocks/
		- entries/
		- src/
		- plugin.php

	scanDirectories:
		- %currentWorkingDirectory%/vendor/campaignmonitor/
		- %currentWorkingDirectory%/vendor/wordpress-fieldmanager/
		- %currentWorkingDirectory%/../../../wp-includes/
