includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	# Level 9 is the highest level
	level: max

	# Disable generics in type hints.
	checkGenericClassInNonGenericObjectType: false

	paths:
		- blocks/
		- entries/
		- src/
		- plugin.php

	scanDirectories:
		- %currentWorkingDirectory%/vendor/alleyinteractive/wordpress-fieldmanager/php
		- %currentWorkingDirectory%/vendor/campaignmonitor/createsend-php/class
