.nb-multi-post-picker-modal .alley-scripts-post-picker__post-list.nb-sortable-list {
  height: calc(70vh - 170px);
  width: 100%;
}

.nb-post-picker-draggable {
  align-items: center;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  margin: 5px 0;
  min-height: 60px;
  user-select: none;

  > span {
    cursor: move;
    height: 100%;
  }
}
