/**
 * The following styles get applied inside the editor only.
 *
 * All imported CSS files are bundled into one chunk named after the entry point,
 * which defaults to index.js, and thus the file created becomes index.css.
 * This is for styles used only in the editor.
 *
 */

.wp-block-wp-newsletter-builder-two-up-post {
  > .block-editor-inner-blocks {
    max-width: initial;
    width: 100%;

    .block-editor-block-list__layout {
      display: flex;
    }
  }

  div[data-title="Newsletter Single Post"] {
    flex: 1 0 50%;

    .block-editor-inner-blocks{
      display: flex;

      // stylelint-disable selector-max-compound-selectors
      .block-editor-block-list__layout {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
