/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Imported style.css file(s) (applies to SASS and SCSS extensions)
 * get bundled into one style-index.css file that is meant to be
 * used both on the front-end and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 *
 * @see https://developer.wordpress.org/block-editor/reference-guides/block-api/block-metadata/#block-styles
 */

.wp-block-wp-newsletter-builder-two-up-post {
  margin-bottom: 32px;
  max-width: 600px;
  width: 100%;

  td {
    vertical-align: top;
    width: 50%;
  }

  div.wp-block-wp-newsletter-builder-post {
    max-width: 300px;
    padding: 0 10px;

    img {
      height: auto;
      max-width: 300px;
      width: 100%;
    }

    h2.wp-block-wp-newsletter-builder-post-title {
      font-size: 20px !important; // Needed to override editor styles
    }

    p.post__byline {
      font-size: 14px;
      margin-bottom: 8px;
      text-align: center;
    }

    div.wp-block-wp-newsletter-builder-post-excerpt {
      // stylelint-disable-next-line selector-max-compound-selectors
      p {
        font-size: 14px;
      }
    }
  }

  .wp-block-wp-newsletter-builder-post-read-more {
    display: none;
  }

  @media screen and (max-width: 480px) {
    td {
      display: block;
      width: 100% !important;
    }
  }
}
