.wp-block-button {
  margin: 0 auto;
  padding: 10px 14px;
  text-align: center;

  a {
    font-size: 14px;
    padding: 0;
    text-decoration: none;
  }

  a.read-more-button {
    padding: 10px 14px;
  }

  // Footer subscribe button.
  &.wp-newsletter-builder__subscribe {
    max-width: none;
    text-transform: uppercase;
    width: 100%;

    .wp-element-button {
      display: block;
    }
  }
}

.wp-element-button,
.wp-block-button__link {
  background-color: inherit;
  color: inherit;
  font-size: 14px;
  padding: 0;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-text-size-adjust:none;
}

// Read More button does not use the Newsletter Button block, so it needs to be styled separately.
.read-more-button {
  background-color: #0279af;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  padding: 10px 14px;
  text-align: center;
  text-decoration: none;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-text-size-adjust:none;
}
