.wp-block-button {
  font-weight: bold;
  margin: 0 auto;
  max-width: 50%;
  width: max-content;

  // Footer subscribe button.
  &.newsletter-builder__subscribe {
    max-width: none;
    text-transform: uppercase;
    width: 100%;

    .wp-element-button {
      display: block;
    }
  }
}

.wp-element-button {
  background-color: #D62827;
  border-radius: 4px;
  color: #FFF;
  display: inline-block;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-text-size-adjust:none;
}
