h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, serif;
  font-weight: bold;
  line-height: 1.3;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}
