/*
 * This adds enough specificity to override the core block-library styles while
 * allowing our custom blocks' styles to win.
 */

// Block editor styles.
.block-editor {
  .editor-styles-wrapper {
    margin: 0 auto;
    max-width: 600px;
    min-width: 320px;
    width: 320px;
    width: calc(28000% - 167400px);

    .wp-block-post-content.wp-block-post-content {
      background-color: var(--template-bg-color);
    }

    // Reset this style so that the editor matches the email client output.
    // stylelint-disable-next-line selector-max-compound-selectors
    :where(body .is-layout-flow) > * {
      margin-block-start: 0;
    }

    // Some blocks require extra specificity.
    .block-editor-block-list__layout.is-root-container {
      @import '@/scss/core-blocks/heading';
    }

    // Block style imports.
    @import '@/scss/core-blocks/image';
    @import '@/scss/core-blocks/paragraph';
    @import '@/scss/core-blocks/button';
    @import '@/scss/core-blocks/separator';
    @import '@/scss/core-blocks/list';
    @import '@/scss/core-blocks/typography';
  }
}
