<!-- wp:newsletter-builder/email-settings {"lock":{"move":true,"remove":true}} /-->

<!-- wp:newsletter-builder/header /-->

<!-- wp:newsletter-builder/post {"showCta":true,"showByline":false,"showContent":false,"imgSizes":"(max-width: 599px) 320px, 600px"} /-->

<!-- wp:newsletter-builder/section {"hasSeparator":true,"separatorIsWide":true} -->
<div class="wp-block-newsletter-builder-section">

<!-- wp:newsletter-builder/two-up-post -->
<div class="wp-block-newsletter-builder-two-up-post"><!-- wp:newsletter-builder/post {"showCta":false,"showExcerpt":false,"showContent":false,"showByline":false,"order":["image","title","excerpt","content","cta","byline"],"imgSizes":"(max-width: 599px) 140px, 280px"} /-->

<!-- wp:newsletter-builder/post {"showCta":false,"showExcerpt":false,"showContent":false,"showByline":false,"order":["image","title","excerpt","content","cta","byline"],"imgSizes":"(max-width: 599px) 140px, 280px"} /--></div>
<!-- /wp:newsletter-builder/two-up-post -->

<!-- wp:newsletter-builder/two-up-post -->
<div class="wp-block-newsletter-builder-two-up-post"><!-- wp:newsletter-builder/post {"showCta":false,"showExcerpt":false,"showContent":false,"showByline":false,"order":["image","title","excerpt","content","cta","byline"],"imgSizes":"(max-width: 599px) 140px, 280px"} /-->

<!-- wp:newsletter-builder/post {"showCta":false,"showExcerpt":false,"showContent":false,"showByline":false,"order":["image","title","excerpt","content","cta","byline"],"imgSizes":"(max-width: 599px) 140px, 280px"} /--></div>
<!-- /wp:newsletter-builder/two-up-post -->

</div>
<!-- /wp:newsletter-builder/section -->

<!-- wp:group {"layout":{"type":"constrained"}, "hasSeparator":true} -->
<div class="wp-block-group">
<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"33.33%"} -->
<div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:image {"align":"center"} -->
<figure class="wp-block-image aligncenter"><img alt=""/></figure>
<!-- /wp:image --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"66.66%"} -->
<div class="wp-block-column" style="flex-basis:66.66%"><!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:separator -->
<hr class="wp-block-separator has-alpha-channel-opacity is-style-wide"/>
<!-- /wp:separator -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Discover why entertainment executives and professionals rely on the WrapPRO platform daily for exclusive coverage, analysis, deeper reporting, and access to VIP events &amp; screenings throughout the year.</p>
<!-- /wp:paragraph -->

<!-- wp:newsletter-builder/footer /-->
