/**
 * The following styles get applied inside the editor only.
 *
 * All imported CSS files are bundled into one chunk named after the entry point,
 * which defaults to index.js, and thus the file created becomes index.css.
 * This is for styles used only in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-wp-newsletter-builder-post {
  margin: 0 auto;
  font-family: Georgia, serif;

  .newsletter-remove-post {
    margin: 0;
    position: absolute;
    right: 3px;
    top: 3px;
    z-index: 1;
  }

  &.edit-nb_template {
    border: 1px dashed #ddd;
    padding: 0.5rem;

    .block-list-appender {
      display: block;
      position: relative;
    }
  }
}

.image-container {
  line-height: 0;
}

.newsletter-read-more {
  margin-bottom: 30px;
}
