/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Imported style.css file(s) (applies to SASS and SCSS extensions)
 * get bundled into one style-index.css file that is meant to be
 * used both on the front-end and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 *
 * @see https://developer.wordpress.org/block-editor/reference-guides/block-api/block-metadata/#block-styles
 */

.wp-block-wp-newsletter-builder-post {
  > * {
    margin: 15px 0;
  }

  .post__image-link {
    display: block;
  }

  .post__title-link {
    color: #000;
    display: block;
    margin: 20px auto;
    text-decoration: none;
  }

  h2 {
    margin-bottom: 0;
    text-align: center;

    &.post__title--small {
      font-size: 24px;
    }
  }

  .post__byline {
    font-family: Georgia,serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
  }

  .post__image-link {
    display: block;
    margin: 20px auto;
  }

  .wp-block-button {
    margin: 20px auto;
  }

  .newsletter-post__number {
    color: #D62827;
  }

  table {
    width: 100%;
  }

  li {
    font-size: 16px;
  }
}
