/**
 * The following styles get applied inside the editor only.
 *
 * All imported CSS files are bundled into one chunk named after the entry point,
 * which defaults to index.js, and thus the file created becomes index.css.
 * This is for styles used only in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-newsletter-builder-signup-form {
  div.block-editor-block-list__layout {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.wp-block-newsletter-builder-signup-form-list__image_delete {
  position: absolute;
  right: 0;
  top: 0;
}

.wp-block-newsletter-builder-signup-form__fake-text-input {
  border: 1px solid #000;
  display: block;
  font-family: sans-serif;
  font-size: 16px;
  padding: 6px 4px 2px;
  width: 300px;
}

.wp-block-newsletter-builder-signup-form__fake-button {
  background: #fff;
  border: 1px solid var(--primary-black, #1D1D1F);
}
