/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Imported style.css file(s) (applies to SASS and SCSS extensions)
 * get bundled into one style-index.css file that is meant to be
 * used both on the front-end and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 *
 * @see https://developer.wordpress.org/block-editor/reference-guides/block-api/block-metadata/#block-styles
 */

.wp-block-wp-newsletter-builder-footer {
  font-family: Verdana, sans-serif;
  font-size: 13px;
  margin-bottom: 30px;
  text-align: center;
}

.wp-block-wp-newsletter-builder-footer__social-links {
  margin-top: 20px;
  text-align: center;

  &__item {
    padding-right: 4px;
  }

  &__link {
    background-color: #D62827;
    border-radius: 50%;
    color: #D62827;
    display: inline-block;
    height: 26px;
    max-height: 26px;
    text-decoration: underline;
    transition: opacity 0.1s ease-in;
    width: 26px;
  }
}

.wp-block-wp-newsletter-builder-footer__logo {
  margin: 20px auto;
  text-align: center;
  width: 300px;
}

.wp-block-wp-newsletter-builder-footer__address {
  margin-top: 20px;
}

.wp-block-wp-newsletter-builder-footer__links {
  color: #595959;
  margin-top: 20px;

  a,
  u {
    color: #595959;
    text-decoration: underline;
  }
}
